@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter Medium";
  src: url("/fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Regular";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter Bold";
  src: url("/fonts/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PlusJakartaSans Bold";
  src: url("/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PlusJakartaSans Regular";
  src: url("/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}

html,
body {
  font-family: "Inter Medium";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no_typecursor .Typewriter__cursor {
  display: none;
}
